*{margin:0;padding:0;}
#body,#html{
	min-width:480px;

}
h1,h2,h3,h4,h5,p,#submitButton{
	font-family: Segoe UI, Lucida Grande, Arial, sans-serif;
	color:#FFF;
	text-shadow:4px 4px 5px rgba(170,170,170,0.3); 
}
#slider{
list-style-type:none;
}
#home{
	max-width:600px;
	min-width:430px;
	min-height: 100%;
	float:center;
	left:50%;
	margin-left:-300px;
	top:20px;
}

.centeredBox{
	background-color:rgba(78,78,78,0.9);
	max-width:600px;
	margin:0 auto;
	padding:10px;
	border:1px solid rgba(140,140,140,0.5);

}
.object{
	width:100%;
	top:30px;
}
.header{
    margin-top:5px;
	font-size:24px;
	text-align:center;
}
.logo{
	text-align:center;
	font-size:62px;
}
#CircleDown{
	max-width:600px;
	margin:0 auto;
	min-width:300px;
}
#aboutUs{
    font-size:32px;
	text-align:center;
}
.social{
	float:left;
	padding-top:10px;
	padding-right:5px;	
	cursor:pointer;
}
.social:hover{
	padding-top:12px; 
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	transition:0.2s ease;
}
#footer{
	height:80px;
	width:400px;
	margin-left:-200px;
	left:50%;
	top:450px;
	background-color:rgba(155,165,155,0.5);
	border: 1px solid rgba(145,145,145,0.4);
	border-radius:4px;
}
#suscribe{
	width:320px;
	float:left;
	padding-top:4px;
}
#email{
	border: 1px solid rgba(100,100,100,0.5);
    border-radius:10px 0px 0px 10px;
	border:none;
	color:#888888;
	height:32px;
    padding-top:3px;
	line-height:31px;
	padding-left:10px;
	padding-right:54px;
	margin-left:8px;
	margin-top:0px;
	margin-right:-5px;
	text-shadow:1px 1px 0 #FFFFFF;
	box-shadow: 4px 4px 5px rgba(0,0,0,0.3); 
	width:145px;
}

#submitButton{

	border-radius:0px 20px 20px 0px;
	box-shadow: 4px 4px 5px rgba(0,0,0,0.3); 
	border:2px solid rgb(110,110,110);
	cursor:pointer;
	height:38px;
    background-color:rgb(100,100,100);
	line-height:30px;
	text-transform:uppercase;
    font-weight:bold;
	width:96px;
	color: rgb(255,255,255);
}
#Name,#Email{
	border: 1px solid rgba(100,100,100,0.5);
	border:none;
	color:#333;
	height:34px;
    padding-top:3px;
	line-height:31px;
	padding-left:10px;
	text-shadow:1px 1px 0 #FFFFFF;
	box-shadow: 4px 4px 5px rgba(0,0,0,0.3); 
	width:285px;

	}
#submit-Button{
	box-shadow: 4px 4px 5px rgba(0,0,0,0.3); 
	border:2px solid rgb(110,110,110);
	cursor:pointer;
	height:38px;
    background-color:rgb(120,120,120);
	line-height:30px;
	text-transform:uppercase;
    font-weight:bold;
	width:600px;
	color: rgb(255,255,255);
}
#submit-Button:hover,#submitButton:hover{
	-webkit-transition:0.3s ease;
	-moz-transition: 0.3s ease;
	transition: 0.3s ease;
	border:2px solid rgba(40,40,40,0.6);
	background-color:rgb(60,60,60);
	color: rgb(255,255,255);
}

#copyright{
font-size:10px;
position:absolute;
bottom:2px;
right:2px;
}
/* Menu */
#thumbnailHolder{
	position:fixed;
	top:1px;
	left:50%;
	margin-left:-48px;
}

/* Menu Icons */
.thumbNail{
	width:32px;
	height:24px;
	float:left;
	cursor:pointer;
	display: block;
}
.thumbNailActive,.thumbNail:hover{
	margin:2px;border:1px solid rgba(255,255,255,0.5);
	-webkit-transition:0.2s ease;
	-moz-transition: 0.3s ease;
	transition: 0.3s ease;
}
#thumbNail0{background:url('plugin/img/home.png') no-repeat center center;} 
#thumbNail1{background:url('plugin/img/info.png') no-repeat center center;}
#thumbNail2{background:url('plugin/img/mail.png') no-repeat center center;}


